
.tabla-inicio{
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    width: 90%;
    margin-top: 50px;
}
.estres-verde {
    background-color: #d4edda;
    color: #155724;
}
.estres-amarillo {
    background-color: #fff3cd;
    color: #856404;
}
.estres-rojo {
    background-color: #f8d7da;
    color: #721c24;
}
.mapa-calor{
    width: 80%;
    background: white;
    border-radius: 15px;
}
.inicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
    width: 100%;
    height: 90vh;
    border: none;
}