
/* Leyenda de intensidad: asegurar texto visible */
.leyenda-intensidad button,
.leyenda-intensidad button span:not(.material-symbols-outlined) {
  color: #1E1E1E !important;
}

.Monitoreo-estres{
    color: #1E1E1E;
}
.tabla-inicio{
    
    
    
    
    margin-bottom: 30px;
    width: 90%;
    margin-top: 50px;
    
    
}

.tabla-responsive {
  width: 100%;
  overflow-x: auto;
}

.tabla-inicio th{
    color:black;
    font-weight: 700;
}
.tabla-inicio tr{
    border: 1px solid #EDEBF0; /*COLOR DE LOS BORDES*/
   
}
#tablaBody td{
    color: #1E1E1E;
}
#tablaInicio th{
    background-color: #FCFCFC; /*COLOR DE LA CABEZERA*/
}
/* Alinear columna Intensidad: cabecera y valores centrados */
#tablaInicio th:last-child,
#tablaInicio td:last-child {
    text-align: center;
}
#tablaInicio td:last-child .badge {
    display: inline-block;
}
.estres-verde {
    background-color: #d4edda;
    color: #D3DEFF;
}
.estres-amarillo {
    background-color: #fff3cd;
    color: #849CF4;
}
.estres-rojo {
    background-color: #f8d7da;
    color: #343497;
}
.mapa-calor{
    width: 80%;
    background: white;
    border-radius: 15px;
    border: 2px solid #EDEBF0;
}
.inicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
    width: 100%;
    height: 90vh;
    border: none;
}
/*botones*/
#btn-estres-bajo{
    background-color: #D3DEFF;
    color: black;
}
#btn-estres-medio{
    background-color: #849CF4;
    color: black;
}
#btn-estres-alto{
    background-color: #343497;
    color: white;
}
#btn-estres-not{
    background-color: #E6E6E6;
    color: black;
}