.container-recursos{
    
    padding: 20px;
    border-radius: 10px;
   
    margin-bottom: 30px;
    

}
.custom-table{
    border: 1px solid #dee2e6;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
}

.titulo-principal{
    color: #1E1E1E; 
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.container-recursos .titulo{
    margin-bottom: 20px;
}
.material-symbols--book-4::after {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M7 16h2V4H7zm-1 6q-1.25 0-2.125-.875T3 19V5q0-1.25.875-2.125T6 2h11v16H6q-.425 0-.712.288T5 19t.288.713T6 20h13V4h2v18z'/%3E%3C/svg%3E");
  }

.container-recursos .contenido ul{
    list-style-type: none;  /* Elimina los puntos (bullets) */
    margin: 0;              /* Elimina el margen por defecto */
    padding: 0;
    list-style: none;
}
.container-recursos .contenido ul li{
    margin: 8px 0;
    cursor: pointer;
   
}
.container-recursos .contenido ul a{
    text-decoration: none;
    color: white;
    
}
.container-recursos .contenido span{
    margin-right: 15px;
}
#btn-search-resource{
  width: 300px; 
  color: white; 
  font-weight: 700;
  height: 60px;
}
.container-recursos .boton button{
    
    all: unset;                /* Elimina todos los estilos por defecto */
    background: #4260cd;          /* Elimina el color de fondo */
    border: none;              /* Elimina los bordes */
    padding: 0;                /* Elimina el padding predeterminado */
    font: inherit;             /* Hereda el tipo de fuente del contenedor */
    color: white;            /* Hereda el color del texto */
    cursor: pointer;           /* Mantiene el cursor como puntero */
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
   
        
}
.container-recursos .boton button:hover{
    background: #2d4599; 
}
.container-recursos .boton a{
    text-decoration: none;
}
#myTextarea{
     
    all: unset;
    background: white;
    width: 99%;
    border-radius: 5px;
    color: #252525;
    overflow-x: hidden;
    padding-left: 11px;
    border: 1px solid #dee2e6 ;
}
#button_form{
    background: #4260cd;
    width: 120px;
    margin-top: 30px;
}
#button_form:hover{
    background: #2d4599;
}

.table>:not(caption)>*>*{
    background:white;
    color: #1E1E1E;
}
#lightt th{
    background: #FCFCFC;
}
/*#252525;*/
.container-recursos .column-btns{
    display: flex;
}
.container-recursos .btn-recursos{
    all: unset;          /* Elimina todos los estilos por defecto */
  background: none;    /* Elimina el fondo */
  border: none;        /* Elimina el borde */
  padding: 0;          /* Elimina cualquier relleno por defecto */
  margin: 0;           /* Elimina cualquier margen por defecto */
  font: inherit;       /* Hereda la fuente del contenedor */
  text-align: inherit; /* Hereda la alineación del texto */
  cursor: pointer;     /* Mantiene el cursor como puntero */
  background-color:#4260cd;
  color: white;
  margin: 5px 5px;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
  width: 80px;
}
.container-recursos .btn-recursos:hover{
    background-color:#2d4599;
}
/*MODAL*/
.modal {
    
    display: block ;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    z-index: 10;
}
.modal-close{
    display: none;
}
.close-modal{
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    width: 25px;
    border-radius: 5px;

}
  
/*botnoes de la paginacion de las tablas*/
 /* Estilos personalizados opcionales */
 .page-link-custom {   /* Boton desactivado */
    color: white;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    
  }

  .page-link-custom:hover {
    background-color: #2d4599;
    color:white;
  }

  .active .page-link-custom {
    background-color: white; /* Boton activo */
    color: black;
    border-color: black;
    transform: scale(1.10);
    transition: transform 0.2s ease;
  }
/* El modal está oculto por defecto */
@media(max-width:1100px){
    
    .container-recursos{
        width: 80%;
        
    }
    .contenido .custom-table{
       
    }
    .container-recursos .column-btns{
        flex-direction: column;
    }
    
}
@media(max-width:800px){
    .container-recursos .btn-recursos{
        margin: 5px 5px;
        padding: 5px 10px;
        border-radius: 8px;
        text-align: center;
        width: 40px;
        font-size: 8px;
    }
}
@media(max-width:600px){

}

@media(max-width:600px){
    
    .container-recursos{
        margin-left: 0;
    }
    .titulo-principal{
        margin-left: 0;
    }
    
}