
body{
    color: #1E1E1E;
}
.contenedor-soporte{
    
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    
    margin-bottom: 30px;
}
.accordion-item{
    background-color: white;
    color: #252525;
}
.accordion-button{
    background-color:white ;
    color: #1E1E1E;

}

/*diseño de contenedor de acordeones*/
.accordion-item:first-of-type {
    background: white;
    color: #1E1E1E;
}
.accordion-item:not(:first-of-type) {
    background: white;
    color: #1E1E1E;
}
.accordion-item:first-of-type>.accordion-header .accordion-button{
   
    color: white;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    background-color:#4260cd;
    color: white;
}

.btn-soporte{
    width: 250px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #2d4599; 
    font-weight: 700;
    

}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: white;
}
.form-text{
    color: rgba(255, 255, 255, 0.2);
}