
body{
    color: white;
}
.contenedor-soporte{
    
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
.accordion-item{
    background-color: white;
    color: #252525;
}
.accordion-button{
    background-color:#252525 ;
    color: white;

}

/*diseño de contenedor de acordeones*/
.accordion-item:first-of-type {
    background: #252525;
    color: white;
}
.accordion-item:not(:first-of-type) {
    background: #252525;
    color: white;
}
.accordion-item:first-of-type>.accordion-header .accordion-button{
    background-color:#4A69BD;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    background-color:#4A69BD;
}

.btn-soporte{
    width: 250px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f04158; 
    font-weight: 700;
    box-shadow: inset 0 -1px 0 #f04158; /* Ejemplo con valores específicos */

}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: black;
}
.form-text{
    color: rgba(255, 255, 255, 0.2);
}