<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lista de empleados</h1>
    <p>Seleccione un empleado a monitorear</p>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee[1] }}</td>
            <td>
                <a href="{{ url_for('movil_monitoring', user=employee[1], id_user=employee[0]) }}">Comenzar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>