{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/usuarios.css">

<div class="usuarios-container">
    <div class="titulo-principal">
        <h1>Monitoreo de Empleados</h1>
        <p>Seleccione un empleado para iniciar el monitoreo de actividades.</p>
    </div>

    <div class="tabla-responsive">
        <table class="styled-table">
            <thead>
                <tr class="fila-principal">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr class="fila-principal">
                    <td>{{ loop.index }}</td>
                    <td>{{ employee[1] }}</td>
                    <td>
                        <a href="{{ url_for('movil_monitoring', user=employee[1], id_user=employee[0]) }}"
                            class="btn-agregar" style="text-decoration: none; display: inline-block;">
                            Comenzar Monitoreo
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}