{%extends "base.html"%}

{% block content%}
<div class="titulo-principal">
    <h1>Recursos</h1>
</div>

<div class="container-recursos">
    <div class="titulo">
        <h3>Articulos de estres</h3>
    </div>
    <div class="contenido">
        <ul>
            <li><a href="#"><span class="material-symbols--book-4"></span></a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, vitae.</li>
            <li><a href="#"><span class="material-symbols--book-4"></span></a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, vitae.</a></li>
            <li><a href="#"><span class="material-symbols--book-4"></span></a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, vitae.</a></li>
            <li><a href="#"><span class="material-symbols--book-4"></span></a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, vitae.</a></li>
        </ul>
    </div>
    <div class="boton">
        <a href="#">
            <button>Agregar</button>
        </a>
    </div>
</div>


{%endblock%}